<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listeners.TestNGListeners" />
		<listener class-name="listeners.AnnotationTransformer" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="testCases.ProductComparisonTC" />
			<class name="testCases.SignInTC" />
			<class name="testCases.ProductReviewTC" />
			<class name="testCases.AddingItemToShoppingCartTC" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
